<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" href="/">Gestión de Empresas</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/empresas" href="/empresas">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/empleados" href="/empleados">Empleados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
